@using Microsoft.AspNetCore.Mvc.Rendering;
@model Swift_Tomes_Accounting.Models.ViewModels.Journalize

<h2 class="text-center">Journalize</h2>
<br />
<div class="sidebar-container border-dark">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">

        <li>
            <a asp-controller="Manager" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="ChartOfAccounts" class="btn btn-dark btn-outline-info">Chart of Accounts</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="Send" class="btn btn-dark btn-outline-info">Send Message</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="JournalIndex" class="btn btn-info btn-outline-light">Journalize</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="IncomeStatement" class="btn btn-dark btn-outline-info">Income Statement</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="TrialBalance" class="btn btn-dark btn-outline-info">Trial Balance</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="BalanceSheet" class="btn btn-dark btn-outline-info">Balance Sheet</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="RetainedEarnings" class="btn btn-dark btn-outline-info">Retained Earnings</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="PostTrialBalance" class="btn btn-dark btn-outline-info">Closing Trial Balance</a>
        </li>
    </ul>
</div>



<div>
    <form method="post" enctype="multipart/form-data" asp-action="Journalize" asp-controller="Manager" id="form1">

        <div class=" form-group row">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <select asp-for="Type" class="col-lg-2 form-control">
                <option disabled>--Select Journal Type--</option>
                <option>Regular</option>
                <option>Adjusting</option>
                <option>Reversing</option>
            </select>
            &nbsp;&nbsp;
            <label asp-for="Document" class="control-label">
                <div class="custom-file">
                    <input asp-for="Document" class="custom-file-input" id="document" />
                    <label class="custom-file-label" for="document">Choose file</label>
                </div>
            </label>

        </div>

        <div asp-validation-summary="All" class="text-danger text-center"></div>
        <table class="table w-100">
            <thead class="thead-dark">
                <tr>
                    <th style="width:250px">
                        Account Name
                    </th>
                    <th style="width:250px">
                        Debit
                    </th>
                    <th style="width:250px">
                        Credit
                    </th>
                    <th style="width:250px">

                    </th>

                </tr>
            </thead>
        </table>
        <table class="table w-100" id="jTable1">

            <tbody>
                @for (int i = 0; i < Model.Journal_Accounts.Count; i++)
                {
                    <tr>
                        <td style="width:250px">
                            @Html.DropDownListFor(x => x.Journal_Accounts[i].AccountName1,
                            Model.AccountList,
                            "Select Account",
                            new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.EditorFor(x => x.Journal_Accounts[i].Debit, new { EndAddHtmlAttribute = new { @class = "form-control" } })
                        </td>
                        <td>
                        </td>

                        <td style="width:200px">
                            <button id="btndummy-@i" type="button" class="btn btn-sm invisible">Du m m my</button>
                            <button id="btnadd1-@i" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem1(this)" style="left:80%; position:absolute">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <button id="btnremove1-@i" type="button" class="btn btn-sm btn-danger visible" onclick="DeleteRow('jTable1')" style="left:85%; position:absolute">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <table class="table w-100" id="jTable2">

            <tbody>
                @for (int i = 0; i < Model.Journal_Accounts.Count; i++)
                {
                    <tr>
                        <td style="width:250px">
                            @Html.DropDownListFor(x => x.Journal_Accounts[i].AccountName2,
                            Model.AccountList,
                            "Select Account",
                            new { @class = "form-control" })
                        </td>
                        <td style="width:250px">
                        </td>
                        <td>
                            @Html.EditorFor(x => x.Journal_Accounts[i].Credit, new { EndAddHtmlAttribute = new { @class = "form-control" } })
                        </td>
                        <td style="width:250px">
                            <button id="btndummy-@i" type="button" class="btn btn-sm invisible">Du m m my</button>
                            <button id="btnadd2-@i" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem2(this)" style="left:80%; position:absolute">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <button id="btnremove2-@i" type="button" class="btn btn-sm btn-danger visible" onclick="DeleteRow('jTable2')" style="left:85%; position:absolute">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        <br />
        <div class="text-center form-text" title="Description">

            <textarea asp-for="Description" placeholder="Description" class="col-lg-6">
                
             </textarea>

        </div>
        <br />
        <br />

        <div class="form-group text-center">
            <input type="submit" value="Create Journal Entry" class=" btn btn-success " />
            <a asp-action="JournalIndex" class="btn btn-outline-primary">Go Back</a>

        </div>
    </form>
        <div>&nbsp;</div>
    <form asp-controller="Manager" asp-action="Journalize" method="get">
        <input type="submit" value="Reset" data-toggle="tooltip" data-placement="bottom" title="Reset Journal Entry">
    </form>

</div>

<input type="hidden" id="hdnLastIndex1" value="0" />
<input type="hidden" id="hdnLastIndex2" value="0" />



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });



        function DeleteItem(btn) {
            $(btn).closest('tr').remove();
        }

        function DeleteRow(tableID) {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;

            table.deleteRow(rowCount - 1);
        }

        function AddItem1(btn) {

            var table = document.getElementById('jTable1');
            var rows = table.getElementsByTagName('tr');

            var rowOuterHtml = rows[rows.length - 1].outerHTML;

            var lastrowIdx = table.rows.length-1;

            var nextrowIdx = eval(lastrowIdx) + 1;

            document.getElementById('hdnLastIndex1').value = nextrowIdx;

            rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
            rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
            rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);

            var rowCount = table.rows.length;
            var newRow = table.insertRow(rowCount);
            newRow.innerHTML = rowOuterHtml;


        }
        
        function AddItem2(btn) {

            var table = document.getElementById('jTable2');
            var rows = table.getElementsByTagName('tr');

            var rowOuterHtml = rows[rows.length - 1].outerHTML;

            var lastrowIdx = table.rows.length-1;

            var nextrowIdx = eval(lastrowIdx) + 1;

            document.getElementById('hdnLastIndex2').value = nextrowIdx;

            rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
            rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
            rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);

            var rowCount = table.rows.length;
            var newRow = table.insertRow(rowCount);
            newRow.innerHTML = rowOuterHtml;


        }

    </script>
}

