@using Microsoft.AspNetCore.Mvc.Rendering;
@model Swift_Tomes_Accounting.Models.ViewModels.Journalize

<h2 class="text-center">Journalize</h2>

<div class="sidebar-container border-dark">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">

        <li>
            <a asp-controller="Manager" asp-action="ChartOfAccounts" class="btn btn-dark btn-outline-info">Chart of Accounts</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="Report" class="btn btn-dark btn-outline-info">Reports</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="JournalIndex" class="btn btn-info btn-outline-light">Journalize</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="Pending" class="btn btn-dark btn-outline-info">Pending Entries</a>
        </li>
    </ul>
</div>



<div>
    <form method="post" asp-action="Journalize" asp-controller="Admin" id="form1">
     

        <table class="table" id="jTable1">
            <thead>
                <tr>
                    <th>
                        Account Name
                    </th>
                    <th>
                        Debit
                    </th>
                    <th>
                        Credit
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Journal_Accounts.Count; i++)
                {
                    <tr>
                        <td style="width:200px">
                            @Html.DropDownListFor(x => x.Journal_Accounts[i].AccountName1,
                            Model.AccountList,
                            "Select Account",
                            new { @class = "form-control" })
                        </td>
                        <td style="width:200px">
                            @Html.EditorFor(x => x.Journal_Accounts[i].Debit, new { EndAddHtmlAttribute = new { @class = "form-control" } })
                        </td>

                        <td style="width:200px">
                            <button id="btnadd1-@i" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem1(this)" style="left:90%; position:absolute">Add</button>
                            <button id="btnremove1-@i" type="button" class="btn btn-sm btn-danger invisible" onclick="DeleteItem(this)" style="left:90%; position:absolute">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <table class="table" id="jTable2">

            <tbody>
                @for (int i = 0; i < Model.Journal_Accounts.Count; i++)
                {
                    <tr>
                        <td style="width:200px">
                            @Html.DropDownListFor(x => x.Journal_Accounts[i].AccountName2,
                            Model.AccountList,
                            "Select Account",
                            new { @class = "form-control" })
                        </td>

                        <td style="padding-left:200px">
                            @Html.EditorFor(x => x.Journal_Accounts[i].Credit, new { EndAddHtmlAttribute = new { @class = "form-control" } })
                        </td>
                        <td>
                            <button id="btnadd2-@i" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem2(this)" style="left:90%; position:absolute">Add</button>
                            <button id="btnremove2-@i" type="button" class="btn btn-sm btn-danger invisible" onclick="DeleteItem(this)" style="left:90%; position:absolute">Delete</button>
                        </td>
                    </tr>

                }
            </tbody>
        </table>

        <br />

        <div class="form-group text-center">
            <input type="submit" value="Create Account" class=" btn btn-success " />
            <a asp-action="Journalindex" class="btn btn-outline-primary">Go Back</a>

        </div>
    </form>


</div>

<input type="hidden" id="hdnLastIndex1" value="0" />
<input type="hidden" id="hdnLastIndex2" value="0" />



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });



        function DeleteItem(btn) {
            $(btn).closest('tr').remove();
        }



        function AddItem1(btn) {

            var table = document.getElementById('jTable1');
            var rows = table.getElementsByTagName('tr');

            var rowOuterHtml = rows[rows.length - 1].outerHTML;

            var lastrowIdx = document.getElementById('hdnLastIndex1').value;

            var nextrowIdx = eval(lastrowIdx) + 1;

            document.getElementById('hdnLastIndex1').value = nextrowIdx;

            rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
            rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
            rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);


            var newRow = table.insertRow();
            newRow.innerHTML = rowOuterHtml;



            var btnAddID = btn.id;
            var btnDeleteid = btnAddID.replaceAll('btnadd1', 'btnremove1');

            var delbtn = document.getElementById(btnDeleteid);
            delbtn.classList.add("visible");
            delbtn.classList.remove("invisible");


            var addbtn = document.getElementById(btnAddID);
            addbtn.classList.remove("visible");
            addbtn.classList.add("invisible");

        }
        function AddItem2(btn) {

            var table = document.getElementById('jTable2');
            var rows = table.getElementsByTagName('tr');

            var rowOuterHtml = rows[rows.length - 1].outerHTML;

            var lastrowIdx = document.getElementById('hdnLastIndex2').value;

            var nextrowIdx = eval(lastrowIdx) + 1;

            document.getElementById('hdnLastIndex2').value = nextrowIdx;

            rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
            rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
            rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);


            var newRow = table.insertRow();
            newRow.innerHTML = rowOuterHtml;



            var btnAddID = btn.id;
            var btnDeleteid = btnAddID.replaceAll('btnadd2', 'btnremove2');

            var delbtn = document.getElementById(btnDeleteid);
            delbtn.classList.add("visible");
            delbtn.classList.remove("invisible");


            var addbtn = document.getElementById(btnAddID);
            addbtn.classList.remove("visible");
            addbtn.classList.add("invisible");

        }

    </script>
}

