




<div class="p-4 border w-100">
    <div class="text-center p-1 border w-125">
        <h2>Addams & Family Inc</h2>



            <h2>Trial Balance</h2>


        <h2>As of @DateTime.Now.ToString("MMMM dd, yyyy")</h2>
    </div>
    <br />
    <br />


    <div>
        <table class="table table-borderless">
            <thead>
            <th></th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
                <tr>
                    <th class="font-weight-bold">
                        Assets & Expenses
                    </th>
                    <th></th>
                    <th> </th>
                </tr>
                <tr>
                    <td>
                        &nbsp; &nbsp;Cash
                    </td>
                    <td style="text-align:right">$8,875.00</td>
                    <td> </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Accounts Receivable
                    </td>
                    <td style="text-align:right">$3,450.00</td>
                    <td> </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Supplies
                    </td>
                    <td style="text-align:right">$1,020.00</td>
                    <td> </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Prepaid Insurance
                    </td>
                    <td style="text-align:right">$1,650.00</td>
                    <td> </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Prepaid Rent
                    </td>
                    <td style="text-align:right">$3,000.00</td>
                    <td> </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Accumlated Depreciation
                    </td>
                    <td></td>
                    <td style="text-align:right">$500.00 </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Office Equipment
                    </td>
                    <td style="text-align:right">$9,300.00</td>
                    <td> </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Advertising Expense
                    </td>
                    <td style="text-align:right">$120.00</td>
                    <td> </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Depreciation Expense
                    </td>
                    <td style="text-align:right">$500.00</td>
                    <td> </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Rent Expense
                    </td>
                    <td style="text-align:right">$1,500.00</td>
                    <td> </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Salaries Expense
                    </td>
                    <td style="text-align:right">$5,320.00</td>
                    <td> </td>
                </tr>


                <tr>
                    <td>
                        &nbsp; &nbsp;Supplies Expense
                    </td>
                    <td style="text-align:right">$980.00</td>
                    <td> </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Telephone Expense
                    </td>
                    <td style="text-align:right">$130.00</td>
                    <td> </td>
                </tr>


                <tr>
                    <td>
                        &nbsp; &nbsp;Utilities Expense
                    </td>
                    <td style="text-align:right">$200.00</td>
                    <td> </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Insurance Expense
                    </td>
                    <td style="text-align:right">$150.00</td>
                    <td> </td>
                </tr>


                <tr>

                    <th class="font-weight-bold">
                        Liabilities, Revenue & Equity
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Accounts Payable
                    </td>
                    <td></td>
                    <td style="text-align:right">
                        $1,000.00
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Dividends Declared
                    </td>
                    <td></td>
                    <td style="text-align:right">
                        $0.00
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Salaries Payable
                    </td>
                    <td></td>
                    <td style="text-align:right">
                        $20.00
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Unearned Revenue
                    </td>
                    <td></td>
                    <td style="text-align:right">
                        $1,000.00
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Contributed Capital
                    </td>
                    <td></td>
                    <td style="text-align:right">
                        $20,250.00
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Retained Earnings
                    </td>
                    <td></td>
                    <td style="text-align:right">
                        $0.00
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp; &nbsp;Service Revenue
                    </td>
                    <td></td>
                    <td style="text-align:right">
                        $13,425.00
                    </td>
                </tr>

                <tr class="table-secondary">
                    <td>
                        
                    </td>
                    <td style="text-align: right; text-decoration: underline">
                        $36,195.00
                    </td>
                    <td style="text-align: right; text-decoration: underline">
                        $36,195.00
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>