@model IEnumerable<Swift_Tomes_Accounting.Models.ViewModels.ApplicationUser>
@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1>Admin Dashboard</h1>
</div>



<p class="col-md-10 offset-md-2">
    <a asp-action="Send" class="btn btn-success">Send Message</a>
</p>

<p class="col-md-10 offset-md-2">
    <a asp-controller="Unapprovedusers" asp-action="Index" class="btn btn-success">Unapproved Users List</a>
</p>

<p class="col-md-10 offset-md-2">
    <a asp-controller="User" asp-action="Index" class="btn btn-success"> Users List</a>
</p>

<p class="col-md-10 offset-md-2">
    <a asp-controller="Roles" asp-action="Index" class="btn btn-success"> Roles List</a>
</p>

<p class="col-md-10 offset-md-2">
    <a asp-controller="expiredpass" asp-action="Index" class="btn btn-success"> Expired Passwords List</a>
</p>







<!--
<div class="sidebar-container">
    <div class="sidebar-logo">
        Swift Tomes
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Dashboard</li>
        <li>
            <a asp-action="Send" class="btn btn-outline-primary">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Send Message
            </a>
        </li>
        <li>
            <a asp-controller="Unapprovedusers" asp-action="Index" class="btn btn-outline-primary">
                <i class="fa fa-users" aria-hidden="true"></i> Unapproved Users List
            </a>
        </li>
        <li>
            <a asp-controller="User" asp-action="Index" class="btn btn-outline-primary">
                <i class="fa fa-cog" aria-hidden="true"></i> Users List
            </a>
        </li>
        <li>
            <a a asp-controller="Roles" asp-action="Index" class="btn btn-outline-primary">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Roles List
            </a>
        </li>
        <li>
            <a asp-controller="expiredpass" asp-action="Index" class="btn btn-outline-primary">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Expired Passwords List
            </a>
        </li>
    </ul>
</div>-->
