@model IEnumerable<Swift_Tomes_Accounting.Models.ViewModels.ApplicationUser>
@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1>Admin Dashboard</h1>
</div>

<h2>Unapproved Users</h2>

@foreach (var item in Model)
{
<div>
    @item.UserName
    @item.FirstName
    @item.LastName
    <button class="btn btn-outline-success">Accept</button>
    <button class="btn btn-outline-success">Deny</button>
    <hr />
</div>
    
}
