@model Swift_Tomes_Accounting.Models.ViewModels.Message
<br />
<h2 class="text-center">Message User</h2>
<hr />

<div style="width: 450px; margin: 0 auto; padding-left: 25px">
    
      
            <form id="message" method="post" asp-action="Send" asp-controller="Admin">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="col-md-2" asp-for="ToEmail">To: </label>
                    <div style="width:400px">
                        <select asp-for="ToEmail" asp-items="@ViewBag.Users" class="form-control">
                            <option disabled selected>--Select User Email--</option>
                        </select>
                    </div>
                    
                </div>
                <div class="form-group">
                    <label class="col-md-2" asp-for="Subject">Subject:</label>
                    <div style="width:400px">
                        <input asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2" asp-for="Body">Body:</label>
                    <div style="width:400px">
                        <textarea asp-for="Body" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Body" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-10 offset-md-2">
                        <input type="submit" value="Send" class=" btn btn-primary" />
                    </div>
                </div>

            </form>
        
    </div>

