<div class="p-4 border w-100">
<div class="text-center p-1 border w-125">
    <h2>Addams & Family Inc</h2>
    <h2>Balance Sheet</h2>
    <h2>As of @DateTime.Now.ToString("MMMM dd, yyyy")</h2>
</div>
<br />
<br />


<div>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>
                    Assets
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>&nbsp; &nbsp;Cash</td>
                <td style="text-align:right">$8,875.00</td>
            </tr>

            <tr>
                <td>&nbsp; &nbsp;Accounts Receivable</td>
                <td style="text-align:right">$3,450.00</td>
            </tr>

            <tr>
                <td>&nbsp; &nbsp;Supplies</td>
                <td style="text-align:right">$1,020.00</td>
            </tr>

            <tr>
                <td>&nbsp; &nbsp;Prepaid Insurance</td>
                <td style="text-align:right">$1,650.00</td>
            </tr>

            <tr>
                <td>&nbsp; &nbsp;Prepaid Rent</td>
                <td style="text-align:right">$3,000.00</td>
            </tr>

            <tr>
                <td>&nbsp; &nbsp;Accumalted Depreciation</td>
                <td style="text-align:right">($500.00)</td>
            </tr>

            <tr>
                <td>&nbsp; &nbsp;Office Equipment</td>
                <td style="text-align:right">$9,300.00</td>
            </tr>

            <tr class="table-secondary">
                <td class="font-weight-bold">
                    Total Assets
                </td>
                <td style="text-align:right; text-decoration: underline">
                    $26,795.00
                </td>
            </tr>

            <tr>

                <th class="font-weight-bold">
                    Liabilities
                </th>
                <th>
                </th>
            </tr>

            <tr>
                <td>&nbsp; &nbsp;Accounts Payable</td>
                <td style="text-align:right">$1,000.00</td>
            </tr>

            <tr>
                <td>&nbsp; &nbsp;Salaries Payable</td>
                <td style="text-align:right">$20.00</td>
            </tr>

            <tr>
                <td>&nbsp; &nbsp;Unearned Revenue</td>
                <td style="text-align:right">$1,000.00</td>
            </tr>


            <tr class="table-secondary">
                <td class="font-weight-bold">
                    Total Liabilities
                </td>
                <td style="text-align: right; text-decoration: underline">
                    $2,020.00
                </td>
            </tr>

            <tr>

                <th class="font-weight-bold">
                    Equity
                </th>
                <th>

                </th>
            </tr>

            <tr>
                <td> &nbsp; &nbsp;Contributed Capital</td>
                <td style="text-align:right">$20,250.00</td>
            </tr>


            <tr>
                <td>
                     &nbsp; &nbsp; Retained Earnings
                </td>
                <td style="text-align:right">
                    $4,525.00
                </td>
            </tr>

            <tr class="table-secondary">
                <td class="font-weight-bold">
                    Total Equity
                </td>
                <td style="text-align:right; text-decoration: underline">
                    $24,775.00
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr class="table-secondary">
                <td class="font-weight-bold">
                    Total Liabilities and Owner's Equity
                </td>
                <td style="text-align: right; text-decoration: underline; text-decoration-style:double">
               $26,795.00
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
