<div class="p-4 border w-100">
    <div class="text-center p-1 border w-125">
        <h2>Addams & Family Inc</h2>
        <h2>Income Statement</h2>
        <h2>For the period ending on @DateTime.Now.ToString("MMMM dd, yyyy")</h2>
    </div>
    <br />
    <br />

    
    <div>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>
                        Revenues
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >&nbsp; &nbsp;Service Revenue</td>
                    <td style="text-align:right">$13,425.00</td>
                </tr>


                <tr class="table-secondary">
                    <td class="font-weight-bold">
                        Total Revenues
                    </td>
                    <td style="text-align:right; text-decoration: underline">
                        $13,425.00
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>

                    <th class="font-weight-bold">
                        Expenses
                    </th>
                    <th>

                    </th>
                </tr>

                <tr>
                    <td >&nbsp; &nbsp;Advertising Expense</td>
                    <td style="text-align:right">$120.00</td>
                </tr>


                <tr>
                    <td>&nbsp; &nbsp;Depreciation Expense</td>
                    <td style="text-align:right">$500.00</td>
                </tr>


                <tr>
                    <td>&nbsp; &nbsp;Rent Expense</td>
                    <td style="text-align:right">$1,500.00</td>
                </tr>


                <tr>
                    <td>&nbsp; &nbsp;Salaries Expense</td>
                    <td style="text-align:right">$5,320.00</td>
                </tr>



                <tr>
                    <td>&nbsp; &nbsp;Supplies Expense</td>
                    <td style="text-align:right">$980.00</td>
                </tr>

                <tr>
                    <td>&nbsp; &nbsp;Telephone Expense</td>
                    <td style="text-align:right">$130.00</td>
                </tr>

                <tr>
                    <td>&nbsp; &nbsp;Utilities Expense</td>
                    <td style="text-align:right">$200.00</td>
                </tr>

                <tr>
                    <td>&nbsp; &nbsp;Insurance Expense</td>
                    <td style="text-align:right">$150.00</td>
                </tr>



                <tr class="table-secondary">
                    <td class="font-weight-bold">
                        Total Expenses
                    </td>
                    <td style="text-align:right; text-decoration:underline">
                    $8,900.00
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="table-secondary">
                    <td class="font-weight-bold">
                        Net Income (Loss)
                    </td>
                    <td style="text-align:right; text-decoration-line:underline; text-decoration-style:double">
                    $4,525.00
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>