<h2 class="text-center">Help Page and FAQs</h2>
<br />
<br />
<div style="margin-left: 340px; width:450px;border: 1px solid; border-color: lightgray;">
    <div class="form-group" style="margin-top:10px;margin-left:10px;margin-right:10px;margin-bottom:10px">
        <i class="fa fa-question-circle-o" aria-hidden="true" style="font-size:50px;margin-left:185px"></i>
        <h5>If your account is locked or you have a question about your account, please contact the administrator.</h5>
        <label>Name: Default Admin</label><br />
        <label>Email: miller4277@gmail.com</label>
    </div>
</div>
<br />
<br />
<div style="margin-left: 75px; width:1000px;border: 1px solid; border-color: lightgray;">
    <div class="form-group" style="margin-top:10px;margin-left:10px;margin-right:10px;margin-bottom:10px">
        <h3>Request Access</h3>
        <p>As a first time user, you must request access. Fill out the appropriate fields on the registration page
        and once you are approved, you will be sent a notification to the email address that you provided. If an administrator has
        already made an account for you, you do not need to request access.</p>
        <h3>Account Locked</h3>
        <p>If you incorrectly type your password in 3 times in a row, then your account will be temporarily locked. Administrator
        accounts can also lock accounts for various reasons. If your account is locked and you think it is a mistake, please 
        contact the administrator.</p>
        <h3>Expired Passwords</h3>
        <p>For security reasons, after a given period, your password will expire. You will receive a notification 3 days prior
        to it expiring. At which time, you may reset it before it expires. If your password does expire, you will not be able to login, 
        but upon a login attempt, you will receive a link via email which will allow you to reset your password.</p>
        <h3>Chart of Accounts</h3>
        <p>The Chart of Accounts shows the active accounts being used by the different users.Administrators can edit, add, deactivate,
        and activate accounts. Managers and accountants can view the Chart of Accounts, but they cannot edit, deactivate, or activate 
        accounts.</p> 
        <h3>Pending Approvals</h3>
        <p>Once a user requests access to the application, the administrator will receive an email notifying them of the request. Once the
        administrator logs in, they can navigate to Pending Approvals to handle the request. The administrator must assign a role to the user 
        before they can be accepted. The administrator can approve or deny the request. If approved, the user requesting access will receive an
        email informing them they have been approved. </p>
        <h3>User Management</h3>
        <p>The User Management portal is for administrator use only. Administrators can change the role of the user, edit user information, 
        deactivate, or activate a user account. Administrators can create users within the user management portal. Administrators can also
        view all users with expired passwords. Administrators can also view, create, or edit roles for the system.</p>
        <h3>Event Log</h3>
        <p>The Event Log shows all events within the application. The administrator is allowed to see before and after images of the data that
        was involved in each event. The administrator can also view who performed the event and the date and time of the event. The event log 
        tracks all user and account events. The events are organized in descending order with the most recent event at the top of the page.</p>
    </div>
</div>