<h3 class="text-center">Help Page and FAQ's</h3>
<br />
<br />
<div style="margin-left: 340px; width:450px;border: 1px solid; border-color: lightgray;">
    <div class="form-group" style="margin-top:10px;margin-left:10px;margin-right:10px;margin-bottom:10px">
        <h5>If your account is locked or you have a question about your account, please contact the administrator.</h5>
        <label>Name: Logan Miller</label><br />
        <label>Email: miller4277@gmail.com</label>        
    </div>
</div>
<br />
<br />
<div style="margin-left: 75px; width:1000px;border: 1px solid; border-color: lightgray;">
    <div class="form-group" style="margin-top:10px;margin-left:10px;margin-right:10px;margin-bottom:10px">
        <h3>Request Access</h3>
        <p>As a first time user, you must request access. Fill out the appropriate fields on the registration page
        and once you are approved, you will be sent a notification to the email address that you provided. If an administrator has
        already made an account for you, you do not need to request access.</p>
        <h3>Account Locked</h3>
        <h3>Journalizing</h3>
        <h3>Chart of Accounts</h3>
        <h3>Send Message</h3>
        <h3>Pending Approvals</h3>
        <h3>User Management</h3>
        
    </div>
</div>