@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div style="border: 1px solid; border-color: lightgray; width: 495px; margin: 0 auto;">
    <div class="form-group" style="margin-top:10px;margin-left:20px;margin-right:10px;margin-bottom:20px">
        <i class="fa fa-exclamation-circle" aria-hidden="true" style="font-size:50px;margin-left:185px"></i>
        <h3>
            You must await administrator approval. You will receive an email once you
            have been approved by an administrator. If you have any questions, visit the Help page.
        </h3>
    </div>

</div>


