@model Swift_Tomes_Accounting.Models.ViewModels.PasswdReset

<h1>Password Reset</h1>

<div class="row col-md-6 mx-auto">
    <div class="col-md-8 offset-md-2">
        <section id="Confirmrstpwform">
            <form id="Confirmrstpw" method="post" asp-action="ConfirmResetPassword" asp-controller="Account">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Code" hidden />
                <div class="form-group">
                    <label asp-for="Email">Primary Email:</label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="NewPass">New Password:</label>
                    <div class="col-md-10">
                        <input asp-for="NewPass" class="form-control" />
                        <span asp-validation-for="NewPass" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPass">Confirm New Password:</label>
                    <div class="col-md-10">
                        <input asp-for="ConfirmPass" class="form-control" />
                        <span asp-validation-for="ConfirmPass" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class=" col-md-10 offset-md-2">
                        <input type="submit" value="Reset Password" class=" btn btn-success" />
                    </div>
                </div>

                <div class="alert-danger">
                    <p>@ViewBag.ErrorMessage</p>
                </div>

            </form>
        </section>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}