@model Swift_Tomes_Accounting.Models.ViewModels.PasswdReset
<br />
<h2 class="text-center">Password Reset</h2>
<hr class="col-lg-4"/>
<div>
    <section id="Confirmrstpwform">
        <form id="Confirmrstpw" method="post" asp-action="ConfirmResetPassword" asp-controller="Account">

            <input asp-for="@Model.Id" hidden />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" hidden />
            <div class="form-group">
                <div class="col-lg-4 mx-auto">
                    <input asp-for="@Model.Email" hidden class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <h6 class="text-center">New Password:</h6>
            <div class="form-group">

                <div class="col-lg-4 mx-auto">
                    <input asp-for="NewPass" class="form-control" />
                    <span asp-validation-for="NewPass" class="text-danger"></span>
                </div>
            </div>
            <h6 class="text-center">Confirm New Password:</h6>
            <div class="form-group">
                <div class="col-lg-4 mx-auto">
                    <input asp-for="ConfirmPass" class="form-control" />
                    <span asp-validation-for="ConfirmPass" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="text-center">
                    <input type="submit" value="Reset Password" class=" btn btn-success" />
                </div>
            </div>

            <div class="text-danger">
                <p>@ViewBag.ErrorMessage</p>
            </div>

        </form>
    </section>
</div>
   

    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
