@model Swift_Tomes_Accounting.Models.ViewModels.LoginViewModel
<br />
<h4 class="text-center">Swift Tome's Accounting</h4>
<br />
<br />
<div class="text-center">
    <img src="~/frontend/STLogo.png" alt=”Image” style="width:175px; height:150px">
</div>
<br />
<br />
<div class="text-center">
    <h8>Sign in with your email and password</h8>
</div>



<div class="row">

</div>

<div class="row col-md-6 mx-auto">
    <div class="col-md-8 offset-md-2">
        <section id="loginform">
            <form id="account" method="post" asp-action="Login" asp-controller="Account">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white" id="addon-wrapping">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input asp-for="Email" placeholder="Email" type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" />
                </div>

                <br />

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white" id="addon-wrapping">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input asp-for="Password" placeholder="Password" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" />
                </div>

                <br />
                <br />

                <div class="form-group">
                    <div class=" col-md-10 offset-md-2">
                        <input type="submit" value="Login" class=" btn btn-success" />
                    </div>
                </div>

                <p class="col-md-10 offset-md-2">
                    <a asp-action="Register">Request Access</a>
                </p>
                <p class="col-md-10 offset-md-2">
                    <a asp-action="ResetPassword">Forgot Password</a>
                </p>

            </form>
        </section>
    </div>

</div>
<!--
    <div class="col-md-6 mx-auto">
    <div class="col-md-8 offset-md-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
            </div>
            <input asp-for="Email" type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
</div>
-->



@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}