@model Swift_Tomes_Accounting.Models.ViewModels.LoginViewModel
    <center>
        <img src="~/frontend/STLogo.png" alt=”Image” style="width:250px; height:250px">
    </center>
<h4 class="col-md-8 offset-md-4">Swift Tome's Accounting</h4>
<h5 class="col-md-8 offset-md-4">Sign in with your email and password</h5>

<div class="row col-md-6 mx-auto">
    <div class="col-md-8 offset-md-2">
        <section id="loginform">
            <form id="account" method="post" asp-action="Login" asp-controller="Account">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label class="col-md-2" asp-for="Email"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2" asp-for="Password"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class=" col-md-10 offset-md-2">
                        <input type="submit" value="Login" class=" btn btn-success" />
                    </div>
                </div>

                <p class="col-md-10 offset-md-2">
                    <a asp-action="Register">Create Account</a>
                </p>
                <p class="col-md-10 offset-md-2">
                    <a asp-action="ResetPassword">Forgot Password</a>
                </p>

            </form>
        </section>
    </div>

</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}