@model Swift_Tomes_Accounting.Models.ViewModels.RegisterViewModel
<br />

<div id="centerform0">
    <br />
    <div class="text-center">
        <img src="~/frontend/STLogo.png" alt=”Image” style="width:50px; height:50px">
    </div>
    <br />
    <h2 class="text-center">Create an Account</h2>
    <br />
    <form method="post" asp-action="Register" asp-controller="Account">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-lg-6">
                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-lg-12">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

        </div>
        <br />
        <div class="form-group row">
            <div class="col-lg-5">
                <input asp-for="DOB" class="form-control" style="color:gray" />
                <span asp-validation-for="DOB" class="text-danger"></span>
                <h6 style="font-size:10px; color:gray">&nbsp;&nbsp;&nbsp;*Enter your date of birth.</h6>
            </div>

            <div class="col-lg-7">
                <input asp-for="Address" class="form-control" placeholder="Street Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

        </div>
        <br style="display: block; margin-bottom: 8px;" />
        <div class="form-group row">
            <div class="col-lg-4">
                <input asp-for="City" class="form-control" placeholder="City" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <input asp-for="ZipCode" class="form-control" placeholder="Zip Code" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <input asp-for="State" class="form-control" placeholder="State" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-lg-12">
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-lg-12">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="text-center">
            <input type="submit" value="Request Access" class=" btn btn-success" />
        </div>
        <br />
        <br />
        <p class="col-md-10 offset-md-2">
            <a asp-action="Login">Already have an account? Click to login</a>
        </p>

    </form>
</div>
<br />




@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
