@model Swift_Tomes_Accounting.Models.ViewModels.Message
<br />

<h2 class="text-center">Forgot Password</h2>
<hr class="col-lg-4"/>


    <div>
        <section id="resetpwform">
            <form id="resetpw" method="post" asp-action="ResetPassword" asp-controller="Account">
               
                <div asp-validation-summary="All" class="text-danger"></div>
                <h6 class="text-center">Please enter your email:</h6>
                <div class="form-group">
                    <div class="col-lg-4 mx-auto">
                        <input asp-for="ToEmail" class="form-control" />
                        <span asp-validation-for="ToEmail" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" value="Reset" class=" btn btn-success" />
                    </div>
                </div>

            </form>
        </section>

    </div>



