@model Swift_Tomes_Accounting.Models.ViewModels.Message
<br />
    <h3 class="text-center">Forgot Password</h3>


    <div style="width: 300px; margin: 0 auto;">
        <section id="resetpwform">
            <form id="resetpw" method="post" asp-action="ResetPassword" asp-controller="Account">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label class="text-center" asp-for="ToEmail">Please enter your email:</label>
                    <div class="col-xs-2">
                        <input asp-for="ToEmail" class="form-control" />
                        <span asp-validation-for="ToEmail" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class=" col-md-10 offset-md-3">
                        <input type="submit" value="Reset" class=" btn btn-success" />
                    </div>
                </div>

            </form>
        </section>

    </div>



