@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<br />
<h2 class="text-center">Roles List</h2>
<hr />
<br />
<div>
    <div class="col-6 text-lg-right">
        <a asp-action="Upsert" asp-controller="Roles" class="btn btn-primary"> Create New Role</a>
    </div>
</div>
<br />

<div class="sidebar-container border-dark">
    <div>
        <br />
        <div class="text-center border-info">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">
        <li>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Send" class="btn btn-dark btn-outline-info">Send Message </a>
        </li>
        <li>
            <a asp-controller="UnapprovedUsers" asp-action="Index" class="btn btn-dark btn-outline-info">Pending Approval</a>
        </li>
        <li>
            <a asp-controller="User" asp-action="Index" class="btn btn-dark btn-outline-info">Users List</a>
        </li>
        <li>
            <a a asp-controller="Roles" asp-action="Index" class="btn btn-info btn-outline-light">Roles List</a>
        </li>
        <li>
            <a asp-controller="expiredpass" asp-action="Index" class="btn btn-dark btn-outline-info">Expired Passwords List</a>
        </li>
        <li>
            <a asp-controller="Money" asp-action="ChartOfAccounts" class="btn btn-dark btn-outline-info">Chart of Accounts</a>
        </li>
    </ul>
</div>


<div class="p-4 border rounded">
    @if (Model.Any())
    {
        <table class="table table-striped border">
            <tr class="table-secondary">

                <th>
                    ID
                </th>
                <th>
                    Name
                </th>

                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <div class="text-center">
                            <form asp-action="Delete" asp-route-id="@item.Id">
                                <a asp-action="Upsert" asp-route-id="@item.Id" class="btn btn-info text-white" style="cursor:pointer">
                                    Edit
                                </a>

                                <button type="submit" onclick="return confirm('Are you sure you want to delete this?')"
                                        class="btn btn-danger">
                                    Delete
                                </button>
                            </form>
                        </div>

                    </td>
                </tr>
            }
        </table>
    }
</div>

<style>
    .sidebar-container {
        position: absolute;
        width: 250px;
        height: 95%;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background: #343a40;
        color: #fff;
        top: 57px;
        border-style: solid;
    }

    .content-container {
        padding-top: 20px;
    }

    .sidebar-logo {
        padding: 10px 15px 10px 30px;
        font-size: 20px;
        background-color: #2574A9;
    }

    .sidebar-navigation {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: relative;
    }

        .sidebar-navigation li {
            background-color: transparent;
            position: relative;
            display: inline-block;
            width: 100%;
            line-height: 20px;
        }

            .sidebar-navigation li a {
                padding: 10px 15px 10px 30px;
                display: block;
                color: #fff;
            }

            .sidebar-navigation li .fa {
                margin-right: 10px;
            }

            .sidebar-navigation li a:active,
            .sidebar-navigation li a:hover,
            .sidebar-navigation li a:focus {
                text-decoration: none;
                outline: none;
            }

            .sidebar-navigation li::before {
                background-color: #2574A9;
                position: absolute;
                content: '';
                height: 100%;
                left: 0;
                top: 0;
                -webkit-transition: width 0.2s ease-in;
                transition: width 0.2s ease-in;
                width: 3px;
                z-index: -1;
            }

            .sidebar-navigation li:hover::before {
                width: 100%;
            }

        .sidebar-navigation .header {
            font-size: 12px;
            text-transform: uppercase;
            background-color: #151515;
            padding: 10px 15px 10px 30px;
        }

            .sidebar-navigation .header::before {
                background-color: transparent;
            }

    .content-container {
        padding-left: 220px;
    }
</style>
<br />
<br />
<br />
<form asp-action="GoBack" asp-controller="Admin">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-warning">Done</button>
            </div>
        </div>
    </div>
</form>