@model Swift_Tomes_Accounting.Models.ViewModels.AccountDB
<br />

<div style="width: 450px; margin: 0 auto;">
 
    <br />
    <h4 class="text-center">Add Account</h4>
    <hr />
    <form method="post" asp-action="CreateAccount" asp-controller="Money">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col-xs">
                <select asp-for="Category" class="form-control">
                    <option disabled selected>Select Account Type</option>
                    <option value="Asset">Asset</option>
                    <option value="Expenses">Expenses</option>
                    <option value="Liability">Liability</option>
                    <option value="Equity">Equity</option>
                    <option value="Revenue">Revenue</option>
                </select>
            </div>
            <div class="col-lg-6" id="SubCategoryDropDown">
                <select asp-for="SubCategory" class="form-control">
                    <option disabled>--Select a Sub-Type--</option>
                    <option>Current</option>
                    <option>Long-Term</option>
                </select>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="input-group">
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <label typeof="input-group-text" class="input-group-prepend; " id="AcNum">
                </label>
                <div class="col-xs">
                    <input asp-for="AccountNumber" class="form-control" placeholder="Account Number" aria-describedby="AcNum" />
                </div>

                <div class="col-lg-6">
                    <input asp-for="AccountName" class="form-control" placeholder="Account Name" />
                </div>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col-lg-4">
                <label>Active: </label>
                @Html.CheckBoxFor(m => m.Active)
            </div>
            <div class="col-lg-4">
                <label>Contra: </label>
                @Html.CheckBoxFor(m => m.Contra)
            </div>
            <div class="col-lg-3">
                <label>CoA: </label>
                @Html.CheckBoxFor(m => m.ChartOfAccounts)
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col-xs">
                <input asp-for="Initial" class="form-control" placeholder="Initial Balance" />
            </div>

            <div class="col-lg-6">
                <input asp-for="Order" class="form-control" placeholder="Liquidity Order" />
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col-xs">
                <input asp-for="Description" class="form-control" placeholder="Description" />
            </div>

            <div class="col-lg-6">
                <input asp-for="Comments" class="form-control" placeholder="Comments" />
            </div>
        </div>
        <br />

        <div class="form-group">
            <div class=" col-md-10 offset-md-2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="Accounts" class="btn btn-warning w-25">Back</a>
                &nbsp;&nbsp;
                <input type="submit" value="Create Account" class=" btn btn-success fa-align-center" />

            </div>
        </div>

        <script>
            $("#Category").on("change", function () {
                if (($("#Category option:selected").val() == "Asset") || ($("#Category option:selected").val() == "Liability")) {
                    document.getElementById('SubCategoryDropDown').style.visibility = "visible";
                } else {
                    document.getElementById('SubCategoryDropDown').style.visibility = "hidden";
                }

                if ($("#Category option:selected").val() == "Asset") {
                    document.getElementById('AcNum').textContent = 1;
                }
                else if ($("#Category option:selected").val() == "Expenses") {
                    document.getElementById('AcNum').textContent = 5;
                }
                else if ($("#Category option:selected").val() == "Liability") {
                    document.getElementById('AcNum').textContent = 2;
                }
                else if ($("#Category option:selected").val() == "Equity") {
                    document.getElementById('AcNum').textContent = 3;
                }
                else if ($("#Category option:selected").val() == "Revenue") {
                    document.getElementById('AcNum').textContent = 4;
                }

                document.getElementById('AccountNumber').placeholder = "";
            });
        </script>

    </form>
</div>
<br />





@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

