@model Swift_Tomes_Accounting.Models.ViewModels.AccountDB

<div class="sidebar-container border-dark">
    <div>
        <br />
        <div class="text-center border-info">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">
        <li>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Send" class="btn btn-dark btn-outline-info">Send Message </a>
        </li>
        <li>
            <a asp-controller="UnapprovedUsers" asp-action="Index" class="btn btn-dark btn-outline-info">Pending Approval</a>
        </li>
        <li>
            <a asp-controller="User" asp-action="Index" class="btn btn-dark btn-outline-info">User Management</a>
        </li>
        <li>
            <a asp-controller="Money" asp-action="Accounts" class="btn btn-info btn-outline-light">Account List</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="EventLog" class="btn btn-dark btn-outline-info">Event Log</a>
        </li>
    </ul>
</div>

<br />
<div style="width: 450px; margin: 0 auto;">
    <br />
    <h2 class="text-center">Edit an Account</h2>
    <hr />
    <form asp-action="EditAccount">

        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="AccountNumber" />
        <div class="form-group row">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col-xs">
                <input asp-for="AccountName" class="form-control" placeholder="Account Name" />
            </div>

            <div class="col-lg-6">
                <input asp-for="Order" class="form-control" placeholder="Liquidity Order" />
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col-xs">
                <select asp-for="Category" class="form-control">
                    <option disabled selected>Select Account Type</option>
                    <option value="Asset">Asset</option>
                    <option value="Expenses">Expenses</option>
                    <option value="Liability">Liability</option>
                    <option value="Equity">Equity</option>
                    <option value="Revenue">Revenue</option>
                </select>
            </div>
            <div class="col-lg-6" id="SubCategoryDropDown">
                <select asp-for="SubCategory" class="form-control">
                    <option disabled>--Select a Sub-Type--</option>
                    <option>Current</option>
                    <option>Long-Term</option>
                </select>
            </div>
        </div>
        <br />

        <div class="form-group row">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col-xs">
                <input asp-for="Description" class="form-control" placeholder="Description" />
            </div>

            <div class="col-lg-6">
                <input asp-for="Comments" class="form-control" placeholder="Comments" />
            </div>
        </div>
        <br />

        <div class="form-group row">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col-lg-5">
                <label>Contra Account: </label>
                @Html.CheckBoxFor(m => m.Contra)
            </div>

            <div class="col-lg-5">
                <label>Chart of Accounts: </label>
                @Html.CheckBoxFor(m => m.ChartOfAccounts)
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-10 offset-md-2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="Accounts" class="btn btn-warning w-25">Back</a>
                &nbsp;&nbsp;
                <input type="submit" value="Update Account" class=" btn btn-success fa-align-center" />
            </div>
        </div>

        <script>
            $("#Category").on("change", function () {
                if (($("#Category option:selected").val() == "Asset") || ($("#Category option:selected").val() == "Liability")) {
                    $("#SubCategory").show();
                } else {
                    $("#SubCategory").hide();
                }
            });
        </script>
    </form>
</div>
<br />





@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
