@model IEnumerable<Swift_Tomes_Accounting.Models.ViewModels.ApplicationUser>


<br />
<h2 class="text-center" style="margin-left:50px">Expired Password List</h2>
<div class="sidebar-container border-dark">
    <div>
        <br />
        <div class="text-center border-info">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">
        <li>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Send" class="btn btn-dark btn-outline-info">Send Message </a>
        </li>
        <li>
            <a asp-controller="UnapprovedUsers" asp-action="Index" class="btn btn-dark btn-outline-info">Pending Approval</a>
        </li>
        <li>
            <a asp-controller="User" asp-action="Index" class="btn btn-info btn-outline-light">Users List</a>
        </li>
        <li>
            <a asp-controller="Money" asp-action="ChartOfAccounts" class="btn btn-dark btn-outline-info">Chart of Accounts</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Report" class="btn btn-dark btn-outline-info">Reports</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Journalize" class="btn btn-dark btn-outline-info">Journalize</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="EventLog" class="btn btn-dark btn-outline-info">Event Log</a>
        </li>
    </ul>
</div>
<div class="p-4 border rounded" style="width: 900px; margin-left:175px;">
    @if (Model.Any())
    {
        <table class="table table-striped border">
            <tr class="table-secondary">

                <th>
                    Email
                </th>
                <th>
                    Name
                </th>
                <th>
                    Expired Hashed Password 1
                </th>


                <th></th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.FirstName  @user.LastName
                    </td>
                    <td>
                        @user.LastPass1
                    </td>


                </tr>
            }
        </table>
    }
</div>

<br />


