<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Swift_Tomes_Accounting</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <script type='text/javascript' src='./jquery.js'></script>
    <link href='calendar.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar navbar-dark bg-dark box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
                &nbsp;
                <div>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" onclick='dispCal()'>Calendar</button>

                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">                               
                                <div class="modal-body">
                                    <script type='text/javascript'>
                                        var getDatee = new Date();
                                        var monthe = getDatee.getMonth();
                                        var yeare = getDatee.getFullYear();
                                        var day = getDatee.getDate();
                                        function isEmpty(val) {
                                            return (val === undefined || val == null || val.length <= 0) ? true : false;
                                        }

                                        function prev() {
                                            monthe = monthe - 1;
                                            if (monthe < 0) {
                                                yeare = yeare - 1;
                                                monthe = 11;
                                            }
                                            dispCal(monthe, yeare);
                                            return false;
                                        }

                                        function next() {
                                            monthe = monthe + 1;
                                            if (monthe > 11) {
                                                yeare = yeare + 1;
                                                monthe = 0;
                                            }
                                            dispCal(monthe, yeare);
                                            return false;
                                        }

                                        function daysInMonth(monthe, yeare) {
                                            return 32 - new Date(yeare, monthe, 32).getDate();
                                        }

                                        function getElementPosition(arrName, arrItem) {
                                            for (var pos = 0; pos < arrName.length; pos++) {
                                                if (arrName[pos] == arrItem) {
                                                    return pos;
                                                }
                                            }
                                        }

                                        function setVal(getDat) {
                                            $('#sel').val(getDat);
                                            $('#calendar').hide();
                                        }

                                        function dispCal(mon, yea) {
                                            var ar = new Array('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec');
                                            var chkEmpty = isEmpty(mon);
                                            var n, days, calendar, startDate, newYea, setvale, i;
                                            if (chkEmpty != true) {
                                                mon = mon + 1;
                                                n = ar[mon - 1];
                                                n += " " + yea;
                                                newYea = yea;
                                                days = daysInMonth((mon - 1), yea);
                                                startDate = new Date(ar[mon - 1] + " 1" + "," + parseInt(yea));
                                            } else {
                                                mon = getElementPosition(ar, ar[getDatee.getMonth()]);
                                                n = ar[getDatee.getMonth()];
                                                n += " " + yeare;
                                                newYea = yeare;
                                                days = daysInMonth(mon, yeare);
                                                startDate = new Date(ar[mon] + " 1" + "," + parseInt(yeare));
                                            }

                                            var startDay = startDate.getDay();
                                            var startDay1 = startDay;
                                            while (startDay > 0) {
                                                calendar += "<td></td>";
                                                startDay--;
                                            }
                                            i = 1;
                                            while (i <= days) {
                                                if (startDay1 > 6) {
                                                    startDay1 = 0;
                                                    calendar += "</tr><tr>";
                                                }
                                                mon = monthe + 1;
                                                setvale = i + "," + n;
                                                if (i == day && newYea == yeare && mon == monthe) {
                                                    calendar += "<td class='thisday' onclick='setVal(\"" + i + "-" + mon + "-" + newYea + "\")'>" + i + "</td>";
                                                } else {
                                                    calendar += "<td class='thismon' onclick='setVal(\"" + i + "-" + mon + "-" + newYea + "\")'>" + i + "</td>";
                                                }
                                                startDay1++;
                                                i++;
                                            }
                                            calendar += "<td><a style='font-size: 9px; color: #efefef; font-family: arial; text-decoration: none;' href='http://www.hscripts.com'>&copy;h</a></td>";

                                            $('#calendar').css('display', 'block');
                                            $('#month').html(n);
                                            var test = "<tr class='weekdays'><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>";
                                            test += calendar;
                                            $('#dispDays').html(test);
                                        }
                                    </script>
                                    <div align='center'>
                                        <button onclick='dispCal()' style='cursor: pointer; vertical-align: middle;'>Calendar</button>
                                        <table class='calendar' id='calendar' border=0 cellpadding=0 cellspacing=0>
                                            <tr class='monthdisp'>
                                                <td class='navigate' align='left'><button onclick='return prev()'>Prev</button></td>
                                                <td align='center' id='month'></td>
                                                <td class='navigate' align='right'><button onclick='return next()'>Next</button></td>
                                            </tr>
                                            <tr>
                                                <td colspan=3>
                                                    <table id='dispDays' border=0 cellpadding=4 cellspacing=4>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notifications" />
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-white bg-dark border-white">
            <div class="container">
                &copy; 2021 - Swift Tomes Accounting&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="text-white"asp-area="" asp-controller="Home" asp-action="Help">Help</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
