@model Swift_Tomes_Accounting.Models.ViewModels.ApplicationUser
<h1 class="text-info">Assign Role to User</h1>
<div class="row">
    <div class="col-md-8">
        <form method="post" asp-action="Edit">
            <input asp-for="@Model.Id" hidden />
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" readonly class="form-control" />
                <input asp-for="FirstName" hidden class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" readonly class="form-control" />
                <input asp-for="LastName" hidden class="form-control" />
            </div>
            
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" readonly class="form-control" />
                <input asp-for="Email" hidden class="form-control" />
                @*can check if email has been used but needs to be implemented*@
                @*<span asp-validation-for="Email" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="RoleId"></label>
                @*Might be form select with the newer bootstrap*@
                <select asp-for="RoleId" asp-items="@Model.RoleList" class="form-control">
                    <option disabled selected>--Select Role--</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Assign Role</button>
                @*link to go back*@
                <a asp-action="Index" class="btn btn-warning" style="width:auto">Back to User List</a>
            </div>
        </form>
    </div>
</div>
