@model Swift_Tomes_Accounting.Models.ViewModels.RegisterViewModel
<br />
<div class="sidebar-container border-dark">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">
        <li>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Send" class="btn btn-dark btn-outline-info">Send Message </a>
        </li>
        <li>
            <a asp-controller="UnapprovedUsers" asp-action="Index" class="btn btn-dark btn-outline-info">Pending Approval</a>
        </li>
        <li>
            <a asp-controller="User" asp-action="Index" class="btn btn-info btn-outline-light">User Management</a>
        </li>
        <li>
            <a asp-controller="Money" asp-action="Accounts" class="btn btn-dark btn-outline-info">Account List</a>
        </li>       
        <li>
            <a asp-controller="Admin" asp-action="EventLog" class="btn btn-dark btn-outline-info">Event Log</a>
        </li>
    </ul>
</div>

<div id="centerform">
    <br />
    <div class="text-center">
        <img src="~/frontend/STLogo.png" alt=”Image” style="width:50px; height:50px">
    </div>
    <br />
    <h4 class="text-center">Create a User</h4>
    <br />
    <form method="post" asp-action="Create" asp-controller="User">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-lg-6">
                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-xs-6">
                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-lg-8">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-lg-8">
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-lg-8">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <select class="col-lg-6 form-control" asp-for="Role">
                <option disabled selected>--Select Role--</option>
                <option>Admin</option>
                <option>Manager</option>
                <option>Accountant</option>
            </select>
        </div>
        <br />
        <div class="form-group row col-lg-8 mx-auto">
            <input type="submit" value="Create User" class=" btn btn-success" />
            &nbsp;&nbsp;
            <a asp-action="Index" class="btn btn-warning">Back to User List</a>
        </div>
        <br />
        <br />

    </form>
</div>





@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
