@model Swift_Tomes_Accounting.Models.ViewModels.ApplicationUser
<h2 class="text-center">Edit User</h2>

<div class="sidebar-container border-dark">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">
        <li>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Send" class="btn btn-dark btn-outline-info">Send Message </a>
        </li>
        <li>
            <a asp-controller="UnapprovedUsers" asp-action="Index" class="btn btn-dark btn-outline-info">Pending Approval</a>
        </li>
        <li>
            <a asp-controller="User" asp-action="Index" class="btn btn-info btn-outline-light">User Management</a>
        </li>
        <li>
            <a asp-controller="Money" asp-action="Accounts" class="btn btn-dark btn-outline-info">Account List</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="EventLog" class="btn btn-dark btn-outline-info">Event Log</a>
        </li>
    </ul>
</div>

<div id="centerform1">
    <form method="post" asp-action="Edit">
        <input asp-for="@Model.Id" hidden />
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-lg-6">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="col-lg-6">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control" />
            </div>
        </div>


        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" readonly class="form-control" />
            <input asp-for="Email" hidden class="form-control" />
        </div>

        <div class="form-group row">
            <div class="col-lg-6">
                <label asp-for="DOB">Date of Birth</label>
                <input asp-for="DOB" class="form-control" />
            </div>
            <div class="col-lg-6">
                <label asp-for="Address">Street Address</label>
                <input asp-for="Address" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-4">
                <label asp-for="City">City</label>
                <input asp-for="City" class="form-control" />
            </div>
            <div class="col-lg-4">
                <label asp-for="State">State</label>
                <input asp-for="State" class="form-control" />
            </div>
            <div class="col-lg-4">
                <label asp-for="ZipCode">Zip Code</label>
                <input asp-for="ZipCode" class="form-control" />
            </div>
        </div>

        @if (Model.Role == "Admin")
        {
            <div class="form-group">
                <label asp-for="Role">Role</label>
                <select asp-for="Role" class="form-control">
                    <option disabled>--Select Role--</option>
                    <option selected>Admin</option>
                    <option>Manager</option>
                    <option>Accountant</option>
                </select>
            </div>
        }
        @if (Model.Role == "Manager")
        {
            <div class="form-group">
                <label asp-for="Role">Role</label>
                <select asp-for="Role" class="form-control">
                    <option disabled>--Select Role--</option>
                    <option>Admin</option>
                    <option selected>Manager</option>
                    <option>Accountant</option>
                </select>
            </div>
        }
        @if (Model.Role == "Accountant")
        {
            <div class="form-group">
                <label asp-for="Role">Role</label>
                <select asp-for="Role" class="form-control">
                    <option disabled>--Select Role--</option>
                    <option>Admin</option>
                    <option>Manager</option>
                    <option selected>Accountant</option>
                </select>
            </div>
        }
        <br />
    <div class="text-center">
        <a asp-action="Index" class="btn btn-warning">Back to List</a>
        <button type="submit" class="btn btn-success">Update</button>
    </div>
    </form>
</div>

      



